/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
}

.horizontal-layout {
	display: flex;
	flex-direction: row;
	width: 100%;
}

@media (max-width: 600px) {
  body * {
    visibility: hidden !important;
  }
}

@font-face {
	font-family: "liuJianMao";
	src: url("../assets/fonts/Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf");
}

@font-face {
	font-family: "zhiMangXing";
	src: url("../assets/fonts/Zhi_Mang_Xing/ZhiMangXing-Regular.ttf");
}

@font-face {
	font-family: "pinup";
	src: url(./assets/fonts/PINUP.ttf);
}

@keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0.2; }
}


/************************************ Home Page *********************************************/



#home {
	visibility: hidden;
}


#home video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

}

#home .title {
  position: fixed;
  bottom: 225px;
  left: 17%;
  z-index: 2;
  color: #ffcc00a8;
  width: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 65px;


  animation: flash 10s infinite;
}

#home .title h1 {
	font-size: 130px;
	font-family: pinup;
}

#home .title span {
	font-size: 25px;
	font-family: pinup;
}

#start-button-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#startBtn {
	position: relative;
	z-index: 2;
	width: 100px;
	height: 40px;
	top: 300px
}

/*********************************** Frontroom Page ******************************************/

#intro-div {
	position: absolute;
	top: 25%;
	left: 30%;
  	width: 35%;
	height: 400px;
	padding: 20px;

	background-color: antiquewhite;

	overflow-y: auto;
}

#intro-div * {
	line-height: 22px;
	margin: 15px;
}

#intro-div ul li{
	list-style: none;
}

#intro-div button {
	position: relative;
	left: 250px
}


body video {
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	z-index: -1;
}

h1.frontroom {
	margin: 10px 0;
	font-size: 20px;
}

#character-selection {
	position: absolute;
	top: 25%;
	z-index: 2;
	padding: 5px;
	display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 5px;
    width: fit-content;
}

#character-selection > div {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 220px; 
    height: 220px;
	gap: 10px;
    flex: 0 0 auto; 
	margin: 14px;
}

#character-selection > div:hover {
	cursor: pointer;

}

#character-selection > div > span {
	font-family: zhiMangXing;
	font-size: 250px;
	color: #ffcc00a8;
	text-shadow: #e3600e 1px 0 15px;
	vertical-align: middle;
	text-align: center;
}

#character-selection > div:hover > span{
	color: #ffcc00cb;
	text-shadow: #ffcc00cb;
}

#character-selection > div.completed > span{
	color: #8a9ba056;
	text-shadow:#7f999e 1px 0 10px;
}

/* #character-selection > div.completed:hover > span{
	color: gold;
} */

/*********************************** Selected Character View ******************************************/

#selection-view,
#selection-view > button,
#definitions-view,
#detail-view
{
	visibility: hidden;
}

#selection-view {
	display: grid;
	grid-template-columns: repeat(5, 1fr [col-start]);
	grid-template-rows: repeat(3, 100px [row-start]);
}

#selection-view button {
	width: fit-content;
}

#selected-character-container {
	grid-column-start: 3;
	grid-row-start: 2;
	justify-self: center;
	max-width: fit-content;
}

button#selection-back {
	grid-column-start: 3;
	grid-row-start: 0;
	justify-self: center;
	max-height: 22px;
}

button#definitions {
	grid-column-start: 1;
	grid-row-start: 4;
	justify-self: center;

}

button#details {
	grid-column-start: 5;
	grid-row-start: 4;
	justify-self: center;
}

/*********************************** Character Draw View ******************************************/


#character-draw {
	position: relative;
	height: 500px;
	width: 400px;

	border-radius: 50%;
	overflow: hidden;

	background-image:url("./assets/media/parchment.jpg");

	opacity: 95%;
}




/*********************************** Definitions View ******************************************/

#definitions-view {
	position: absolute;
	top: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: row-reverse;
}

#definitions-view button {
	align-self: center;
	margin-right: 10px;

	width: fit-content;
}


#definitions-view > div > table {
	border: 2px solid black;
	background-color: antiquewhite;
	table-layout: auto;
  	width: 90%;
  	margin: 10px auto;
}


th,
td {
	vertical-align: top;
  	padding: 0.6em;
}
th {
	vertical-align: middle;
	text-align:justify;
}

tr {
	text-align: left
}

td {
	word-break: break-word;
	overflow-wrap: break-word;
}

td:nth-child(5){
  width: 25%;
}



li {
	list-style: square;
	padding: 5px;
}